@model  RenewableEnergyCalculator.Models.InputWindData

<div class="wf-section">
    <div class="introheader cc-subpage">
        <div class="intro-content">
            <div class="introtitle">Wind Energy Investment Calculator<br></div>
        </div>
    </div>
</div>
<div class="section cc-store-home-wrap">

    <form id="regForm" method="post" action="@Url.Action("InputData", "WindEnergy")">

        <!-- Steps of the form: -->
        <div style="text-align: center; margin-top: 10px; margin-bottom: 30px;">
            <span class="step">Address</span>
            <span class="step">Turbine</span>
            <span class="step">Energy Consumption</span>
        </div>

        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <div id="map"></div>
                </div>
                <div class="column w-col w-col-6">
                    <div class="center">
                        @Html.LabelFor(m => m.Address, "Enter a location:")
                        @Html.TextBoxFor(m => m.Address, new { @class = "input w-input", @name = "Address", @id = "searchTextField", @autocomplete = "on" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @Style = "color: red;" })
                        @Html.HiddenFor(m => m.Address, new { @name = "Address", @id = "Address" })
                        @Html.HiddenFor(m => m.Lat, new { @name = "Lat", @id = "Lat" })
                        @Html.HiddenFor(m => m.Lng, new { @name = "Lng", @id = "Lng" })
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="518" src="~/Content/images/turbine_a.jpg"  alt="" class="image">
                </div>
                <div class="column w-col w-col-6">
                    <div class="center">
                        <div>
                            @Html.LabelFor(m => m.Turbine, "Turbine:", new { @class = "field-label" })
                            @Html.DropDownListFor(m => m.Turbine, new SelectList(@ViewBag.Turbines, "Value", "Text", 0), new { @class = "w-select" })

                            @Html.LabelFor(m => m.NumberOfTurbines, "Number of turbines:", new { @class = "field-label" })
                            @Html.TextBoxFor(m => m.NumberOfTurbines, new { @class = "input w-input", @name = "NumberOfTurbines", @placeholder = "", @Value = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="637" src="~/Content/images/turbine_b.png" loading="lazy" alt="" class="pvcellsimage">
                </div>
                <div class="column w-col w-col-6">
                    <div class="w-form">
                        @Html.LabelFor(m => m.Currency, "Currency:", new { @class = "field-label" })
                        @Html.DropDownListFor(m => m.Currency, (SelectList)@ViewBag.Currencies, new { @class = "w-select" })
                            
                        @Html.LabelFor(m => m.AnnualEnConsumption, "Annual energy consumption:", new { @class = "field-label" })
                        @Html.TextBoxFor(m => m.AnnualEnConsumption, new { @class = "input w-input", @name = "AnnualEnConsumption", @placeholder = "", @Value = "" })
                        @Html.ValidationMessageFor(m => m.AnnualEnConsumption)

                        @Html.LabelFor(m => m.AnnualElPrice, "Electricity price:", new { @class = "field-label" })
                        @Html.TextBoxFor(m => m.AnnualElPrice, new { @class = "input w-input", @name = "AnnualElPrice", @placeholder = "", @Value = "" })
                        @Html.ValidationMessageFor(m => m.AnnualElPrice)
                    </div>
                </div>
            </div>
        </div>


        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

    </form>
</div>