@model  RenewableEnergyCalculator.Controllers.SolarEnergyController.ViewModel

<div class="wf-section">
    <div class="introheader cc-subpage">
        <div class="intro-content">
            <div class="introtitle">Solar Energy Investment Calculator<br></div>
        </div>
    </div>
</div>
<div class="section cc-store-home-wrap">

    <form id="regForm" method="post" action="@Url.Action("InputData", "SolarEnergy")">

        <!-- Steps of the form: -->
        <div style="text-align: center; margin-top: 10px; margin-bottom: 30px;">
            <span class="step">Address</span>
            <span class="step">Dimensions</span>
            <span class="step">Panel Type</span>
            <span class="step">Energy Consumption</span>
        </div>

        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <div id="map"></div>
                </div>
                <div class="column w-col w-col-6">
                    <div class="center">
                        <label for="Address">Enter a location: </label>
                        <input type="text" class="input w-input" maxlength="256" name="Address" id="searchTextField" autocomplete="on" required>
                        <input type="hidden" id="Address" name="Address" />
                        <input type="hidden" id="Lat" name="Lat" />
                        <input type="hidden" id="Lng" name="Lng" />
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="518" sizes="(max-width: 479px) 100vw, (max-width: 767px) 89vw, 45vw" src="~/Content/images/unnamed-p-500.png" srcset="~/Content/images/unnamed-p-500.png 500w, ~/Content/images/unnamed.png 600w" alt="" class="image">
                </div>
                <div class="column w-col w-col-6">
                    <div class="center">
                        <div>
                            <label for="Width" class="field-label">Width of your roof (m):</label>
                            <input type="text" class="input w-input" maxlength="256" name="Width" placeholder="" required>
                            <label for="Length" class="field-label">Length of your roof (m):</label>
                            <input type="text" class="input w-input" maxlength="256" name="Length" placeholder="" required>
                            <label for="Slope" class="field-label">Slope (0-90):</label>
                            <input type="text" class="input w-input" maxlength="256" name="Slope" placeholder="">
                            <label for="Orientation" class="field-label">Orientation (N, S):</label>
                            <select id="orientation" name="Orientation" class="w-select">
                                <option value="">Select orientation...</option>
                                <option value="N">N</option>
                                <option value="S">S</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="637" sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, 45vw" src="~/Content/images/p15_123.jpg" loading="lazy" srcset="~/Content/images/p15_123-p-500.jpeg 500w, ~/Content/images/p15_123.jpg 719w" alt="" class="pvcellsimage">
                </div>
                <div class="column w-col w-col-6">
                    <div class="w-form">
                        Select an existing panel or choose the panel type.
                        <br />
                        <label for="Panel" class="field-label">Panel</label>
                        <select id="panel" name="Panel" class="w-select">
                            <option value="0">Select one...</option>
                            @foreach (var panel in Model.Panels)
                            {
                                <option value="@Html.DisplayFor(m=>panel.Id)">@Html.DisplayFor(m => panel.Model) (@Html.DisplayFor(m => panel.Manufacturer))</option>
                            }
                        </select>

                        <label for="PanelType" class="field-label">Panel type</label>
                        <select id="paneltype" name="PanelType" class="w-select">
                            <option value="0">Select one...</option>
                            @foreach (var panelType in Model.PanelTypes)
                            {
                                <option value="@Html.DisplayFor(m=>panelType.Id)">@Html.DisplayFor(m => panelType.PType) </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="637" sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, 45vw" src="~/Content/images/p15_123.jpg" loading="lazy" srcset="~/Content/images/p15_123-p-500.jpeg 500w, ~/Content/images/p15_123.jpg 719w" alt="" class="pvcellsimage">
                </div>
                <div class="column w-col w-col-6">
                    <div class="w-form">
                        <label for="Currency" class="field-label">Currency</label>
                        <select name="Currency" class="w-select">
                            <option value="">Select currency...</option>
                            <option value="RON">RON</option>
                            <option value="EUR">EUR</option>
                        </select>
                        <label for="AnnualEnConsumption" class="field-label">Annual energy consumption:</label>
                        <input type="text" class="input w-input" maxlength="256" name="AnnualEnConsumption" placeholder="">
                        <label for="AnnualElPrice" class="field-label">Electricity price:</label>
                        <input type="text" class="input w-input" maxlength="256" name="AnnualElPrice" placeholder="">
                    </div>
                </div>
            </div>
        </div>


        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

    </form>
</div>