<div class="wf-section">
    <div class="introheader cc-subpage">
        <div class="intro-content">
            <div class="introtitle">Results<br></div>
        </div>
    </div>
</div>

<div id="Grid" class="section cc-store-home-wrap">
    <h2 style="text-align: center">Solar Energy Output</h2>
    <div class="columns w-row">

        <div id="loader" class="center" style="display:none"></div>

        <div class="column w-col w-col-6" style="text-align:center; padding-top: 70px;">
            <canvas class="solarChartcanvas" id="solarChart" style="width:100%; max-width:800px"></canvas>
        </div>
        <div class="column w-col w-col-6">
            <table id='solarTable'>
                <tr>
                    <td>Location:</td>
                    <td>@ViewBag.Location</td>
                </tr>
                <tr>
                    <td>Roof width:</td>
                    <td>@ViewBag.RoofWidth m</td>
                </tr>
                <tr>
                    <td>Roof Length:</td>
                    <td>@ViewBag.RoofLength m</td>
                </tr>
                <tr>
                    <td>Slope (Tilt):</td>
                    <td>@ViewBag.Slope&#176</td>
                </tr>
                <tr>
                    <td>Orientation (Hemisphere):</td>
                    <td>@ViewBag.Orientation</td>
                </tr>
                <tr>
                    <td>Panel:</td>
                    <td>@ViewBag.Panel</td>
                </tr>
                <tr>
                    <td>Panel Efficiency:</td>
                    <td>@ViewBag.PanelEfficieny %</td>
                </tr>
                <tr>
                    <td>Panel Area:</td>
                    <td>@ViewBag.PanelArea  m&#178</td>
                </tr>
                <tr>
                    <td>Panel Type:</td>
                    <td>@ViewBag.PanelType</td>
                </tr>
                <tr>
                    <td> <b>Solar Energy Output: </b></td>
                    <td><b>@ViewBag.AnnualEnergy kWh</b></td>
                </tr>

                <tr>
                    <td>Average annual energy consumption:</td>
                    <td>@ViewBag.AnnualEnConsumption kWh</td>
                </tr>
                <tr>
                    <td>Average electricity price:</td>
                    <td>@ViewBag.AnnualElPrice @ViewBag.Currency</td>
                </tr>
                <tr>
                    <td><b>System payback:</b></td>
                    <td><b>@ViewBag.Payback years</b></td>
                </tr>

            </table>
        </div>
    </div>
</div>


<div class="section cc-store-home-wrap">
    <form id="emailForm">
        <div>
            <label for="Email">Enter your email:</label>
            <input type="email" class="input w-input" id="email" name="Email" required>
            <input type="hidden" value=@ViewBag.AnnualEnergy name="info" />
            <button id="btnSubmit" type="button">Submit</button>
        </div>
    </form>
</div>

<script>
    var energies = @Html.Raw(Json.Encode(@ViewBag.MonthlyEnergyArray));
    var ajaxUrl = "@Url.Action("SendEmail", "SolarEnergy")";
</script>

<script src="~/Content/js/results.js"></script>


