@model  RenewableEnergyCalculator.Models.InputSolarData

<div class="wf-section">
    <div class="introheader cc-subpage">
        <div class="intro-content">
            <div class="introtitle">Solar Energy Investment Calculator<br></div>
        </div>
    </div>
</div>
<div class="section cc-store-home-wrap">

    <form id="regForm" method="post" action="@Url.Action("InputData", "SolarEnergy")">
        @Html.ValidationSummary(true)
        <!-- Steps of the form: -->
        <div style="text-align: center; margin-top: 10px; margin-bottom: 30px;">
            <span class="step">Address</span>
            <span class="step">Dimensions</span>
            <span class="step">Panel Type</span>
            <span class="step">Energy Consumption</span>
        </div>

        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <div id="map"></div>
                </div>
                <div class="column w-col w-col-6">
                    <div class="center">
                        @Html.LabelFor(m => m.Address, "Enter a location:")
                        @Html.TextBoxFor(m => m.Address, new { @class = "input w-input", @name = "Address", @id = "searchTextField", @autocomplete = "on" })
                        @Html.ValidationMessageFor(m => m.Address,"", new { @Style = "color: red;"})
                        @Html.HiddenFor(m => m.Address, new { @name = "Address", @id = "Address" })
                        @Html.HiddenFor(m => m.Lat, new { @name = "Lat", @id = "Lat" })
                        @Html.HiddenFor(m => m.Lng, new { @name = "Lng", @id = "Lng" })
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="518" sizes="(max-width: 479px) 100vw, (max-width: 767px) 89vw, 45vw" src="~/Content/images/unnamed-p-500.png" srcset="~/Content/images/unnamed-p-500.png 500w, ~/Content/images/unnamed.png 600w" alt="" class="image">
                </div>
                <div class="column w-col w-col-6">
                    <div class="center">
                        <div>
                            @Html.LabelFor(m => m.Width, "Width of your roof (m):", new { @class = "field-label" })
                            @Html.TextBoxFor(m => m.Width, new { @class = "input w-input", @name = "Width", @placeholder = "", @Value = "" })
                            @Html.ValidationMessageFor(m => m.Width, "", new { @Style = "color: red;" })

                            @Html.LabelFor(m => m.Length, "Length of your roof (m):", new { @class = "field-label" })
                            @Html.TextBoxFor(m => m.Length, new { @class = "input w-input", @name = "Length", @placeholder = "", @Value = "" })
                            @Html.ValidationMessageFor(m => m.Length)

                            @Html.LabelFor(m => m.Slope, "Slope (0-90):", new { @class = "field-label" })
                            @Html.TextBoxFor(m => m.Slope, new { @class = "input w-input", @name = "Slope", @placeholder = "", @Value = "" })
                            @Html.ValidationMessageFor(m => m.Slope)

                            @Html.LabelFor(m => m.Orientation, "Orientation (N, S):", new { @class = "field-label", @placeholder = "", @Value = "" })
                            @Html.DropDownListFor(m => m.Orientation, new SelectList(@ViewBag.Orientations, "Value", "Text", 0), new { @class = "w-select" })
                            @Html.ValidationMessageFor(m => m.Orientation)

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="637" sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, 45vw" src="~/Content/images/p15_123.jpg" loading="lazy" srcset="~/Content/images/p15_123-p-500.jpeg 500w, ~/Content/images/p15_123.jpg 719w" alt="" class="pvcellsimage">
                </div>
                <div class="column w-col w-col-6">
                    <div class="w-form">
                        Select an existing panel or choose the panel type.
                        <br />
                        @Html.LabelFor(m => m.Panel, "Panel:", new { @class = "field-label" })
                        @Html.DropDownListFor(m => m.Panel, (SelectList)@ViewBag.Panels, new { @class = "w-select" })
                        @Html.LabelFor(m => m.PanelType, "Panel type:", new { @class = "field-label" })
                        @Html.DropDownListFor(m => m.PanelType, new SelectList(@ViewBag.PanelTypes, "Value", "Text", 0), new { @class = "w-select" })
                    </div>
                </div>
            </div>
        </div>


        <div class="tab">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <img width="637" sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, 45vw" src="~/Content/images/p15_123.jpg" loading="lazy" srcset="~/Content/images/p15_123-p-500.jpeg 500w, ~/Content/images/p15_123.jpg 719w" alt="" class="pvcellsimage">
                </div>
                <div class="column w-col w-col-6">
                    <div class="w-form">
                        @Html.LabelFor(m => m.Currency, "Currency:", new { @class = "field-label" })
                        @Html.DropDownListFor(m => m.Currency, (SelectList)@ViewBag.Currencies, new { @class = "w-select" })

                        @Html.LabelFor(m => m.AnnualEnConsumption, "Annual energy consumption:", new { @class = "field-label" })
                        @Html.TextBoxFor(m => m.AnnualEnConsumption, new { @class = "input w-input", @name = "AnnualEnConsumption", @placeholder = "", @Value = "" })
                        @Html.ValidationMessageFor(m => m.AnnualEnConsumption)

                        @Html.LabelFor(m => m.AnnualElPrice, "Electricity price:", new { @class = "field-label" })
                        @Html.TextBoxFor(m => m.AnnualElPrice, new { @class = "input w-input", @name = "AnnualElPrice", @placeholder = "", @Value = "" })
                        @Html.ValidationMessageFor(m => m.AnnualElPrice)
                    </div>
                </div>
            </div>
        </div>


        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

    </form>
</div>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>