
<h2>Results</h2>
<h4 style="color:purple">

    <b>Message:</b>    @ViewBag.Message <br />
    <b>Address:</b>    @ViewBag.Address <br />
    <b>Area:</b>    @ViewBag.Area <br />
    <b>Slope:</b>    @ViewBag.Slope <br />
    <b>Orientation:</b>    @ViewBag.Orientation <br />
    <b>Panel type:</b>    @ViewBag.PanelType <br />
    <b>Currency:</b>    @ViewBag.Currency <br />
    <b>Annual energy consumption:</b>    @ViewBag.AnnualEnConsumption <br />
    <b>Electricity price:</b>    @ViewBag.AnnualElPrice <br />
</h4>
